In [3]:
import pandas as pd
import os, sys


file_dir = os.path.dirname(os.path.abspath("__file__"))
parent_dir = os.path.dirname(file_dir)
newPath = os.path.join(parent_dir, 'data/db_historic/rt_trips_2016_I_DB.txt')

# read leavetimes 2016 .txt file into csv leave16 (just first 100)
trips16 = pd.read_csv(newPath, delimiter=';')


trips16

,datasource,dayofservice,tripid,lineid,routeid,direction,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,basin,tenderlot,suppressed,justificationid,lastupdate,note
0,DB,09-FEB-16 00:00:00,2824642,145,145_105,2,45668,40800,45375.0,40782.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2426901,"
1,DB,09-FEB-16 00:00:00,2826717,9,9_7,2,65553,60600,66258.0,60582.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2589266,"
2,DB,09-FEB-16 00:00:00,2826730,54A,54A_12,2,65951,62100,66053.0,62078.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",1717180,"
3,DB,09-FEB-16 00:00:00,2826743,7,7_51,1,54763,50400,54854.0,50383.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2057499,"
4,DB,09-FEB-16 00:00:00,2812908,39,39_20,1,27375,22920,27318.0,22931.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2422848,"
5,DB,09-FEB-16 00:00:00,2813717,56A,56A_30,2,65940,62100,66737.0,62486.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",1724138,"
6,DB,09-FEB-16 00:00:00,2815965,37,37_14,1,83363,80100,82954.0,80164.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2167457,"
7,DB,09-FEB-16 00:00:00,2815967,11,11_40,1,31658,27000,33997.0,27009.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2426206,"
8,DB,09-FEB-16 00:00:00,2815970,11,11_42,2,49346,44700,50104.0,44720.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2426209,"
9,DB,09-FEB-16 00:00:00,2818038,63,63_18,1,81659,79800,82199.0,79802.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",1749203,"
10,DB,09-FEB-16 00:00:00,2818052,122,122_16,2,54692,50400,54855.0,50362.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2584979,"
11,DB,09-FEB-16 00:00:00,2818069,39A,39A_41,1,85769,84600,85576.0,84452.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2428241,"
12,DB,09-FEB-16 00:00:00,2818078,70,70_60,1,68579,63600,68631.0,63481.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2416241,"
13,DB,09-FEB-16 00:00:00,2818165,42,42_42,1,50063,46800,51369.0,NaN,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2331113,"
14,DB,09-FEB-16 00:00:00,2818169,42,42_42,1,68021,64200,69028.0,64353.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2331121,"
15,DB,09-FEB-16 00:00:00,2818172,42,42_44,2,78850,76500,79111.0,76646.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2635107,"
16,DB,09-FEB-16 00:00:00,2811524,40D,40D_104,2,65100,62100,65187.0,62108.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",1735768,"
17,DB,09-FEB-16 00:00:00,2811530,32,32_57,1,28859,26100,28940.0,26110.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2329750,"
18,DB,09-FEB-16 00:00:00,2811532,31A,31A_26,2,56825,53700,57214.0,53719.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2329757,"
19,DB,09-FEB-16 00:00:00,2811561,40,40_17,1,34268,28200,34064.0,28269.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",1752104,"
20,DB,09-FEB-16 00:00:00,2811563,40,40_17,1,45711,40320,45547.0,40484.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",1752108,"
21,DB,09-FEB-16 00:00:00,2811564,40,40_24,2,52308,46440,53390.0,46719.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",1949539,"
22,DB,09-FEB-16 00:00:00,2811618,67,67_6,2,32746,27720,33085.0,27766.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2290145,"
23,DB,09-FEB-16 00:00:00,2811645,40B,40B_65,2,32325,28800,32281.0,28816.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",1755899,"
24,DB,09-FEB-16 00:00:00,2819337,41C,41C_79,2,55032,51300,56130.0,NaN,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",1723437,"
25,DB,09-FEB-16 00:00:00,2812750,38A,38A_32,2,53013,48960,52929.0,48910.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2152869,"
26,DB,09-FEB-16 00:00:00,2812756,123,123_34,1,42944,39600,42650.0,NaN,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2586518,"
27,DB,09-FEB-16 00:00:00,2812758,123,123_34,1,51368,48000,51845.0,48060.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2586522,2586522,"
28,DB,09-FEB-16 00:00:00,2821361,123,123_36,2,77146,74400,76858.0,74379.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",2578046,"
29,DB,09-FEB-16 00:00:00,2821464,40,40_17,1,38378,33000,38235.0,32907.0,BasDef,NaN,NaN,NaN,12-APR-16 09:35:20,",1741465,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929477,DB,24-MAY-16 00:00:00,3044682,151,151_17,2,40959,37200,41537.0,37476.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2601516,"
929478,DB,24-MAY-16 00:00:00,3037424,11,11_42,2,44053,39300,44017.0,39350.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2588883,"
929479,DB,24-MAY-16 00:00:00,3037448,7,7_51,1,53384,48600,NaN,48758.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2051057,"
929480,DB,24-MAY-16 00:00:00,3037452,7,7_60,1,72333,68400,72414.0,NaN,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2051066,"
929481,DB,24-MAY-16 00:00:00,3047012,42,42_42,1,69977,66600,70462.0,66694.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2317728,"
929482,DB,24-MAY-16 00:00:00,3047017,14,14_15,1,45520,40800,45325.0,40791.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2521383,"
929483,DB,24-MAY-16 00:00:00,3047061,41C,41C_79,2,51400,47700,52056.0,47648.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",1725941,"
929484,DB,24-MAY-16 00:00:00,3039581,44,44_36,2,40028,34200,40019.0,34270.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2337718,"
929485,DB,24-MAY-16 00:00:00,3039613,185,185_61,2,61800,61200,NaN,60934.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",1719848,"
929486,DB,24-MAY-16 00:00:00,3053304,49,49_27,1,62320,58500,62250.0,58592.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",1757406,"
929487,DB,24-MAY-16 00:00:00,3036348,79,79_11,2,78611,76800,78357.0,76782.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",1745863,"
929488,DB,24-MAY-16 00:00:00,3036390,49,49_27,1,36064,33300,36120.0,33327.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",1752308,"
929489,DB,24-MAY-16 00:00:00,3036471,37,37_14,1,30050,26100,30041.0,26250.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2156852,"
929490,DB,24-MAY-16 00:00:00,3036474,37,37_15,2,44398,40500,44346.0,40544.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2156858,"
929491,DB,24-MAY-16 00:00:00,3048415,130,130_11,2,55311,53400,55360.0,53409.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2320780,"
929492,DB,24-MAY-16 00:00:00,3048430,39A,39A_43,2,80368,76800,80534.0,76763.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2424422,"
929493,DB,24-MAY-16 00:00:00,3049413,15,15_16,1,85665,81600,85119.0,81618.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2585820,"
929494,DB,24-MAY-16 00:00:00,3044171,25,25_269,2,28107,25800,29260.0,NaN,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2299168,"
929495,DB,24-MAY-16 00:00:00,3044183,25,25_269,2,72686,70200,72956.0,70170.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2299180,"
929496,DB,24-MAY-16 00:00:00,3044246,150,150_6,2,55115,52800,55021.0,NaN,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2063607,"
929497,DB,24-MAY-16 00:00:00,3044299,84,84_27,1,57840,52800,58071.0,52805.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",1914738,"
929498,DB,24-MAY-16 00:00:00,3044307,70,70_60,1,63951,59400,64650.0,59355.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2694888,"
929499,DB,24-MAY-16 00:00:00,3044337,46A,46A_74,1,69284,64320,69327.0,64279.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2585254,"
929500,DB,24-MAY-16 00:00:00,3044672,18,18_3,1,52208,48000,NaN,47965.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",1728952,"
929501,DB,24-MAY-16 00:00:00,3044689,151,151_16,1,75551,72000,75294.0,72011.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2601530,"
929502,DB,24-MAY-16 00:00:00,3045218,16,16_20,1,65842,59400,66157.0,59515.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2580038,"
929503,DB,24-MAY-16 00:00:00,3045231,16,16_24,2,50376,44640,50228.0,44746.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",1901058,"
929504,DB,24-MAY-16 00:00:00,3045238,140,140_21,2,29904,26400,29557.0,26398.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2423128,"
929505,DB,24-MAY-16 00:00:00,3045297,238,238_11,1,33170,31500,33193.0,31508.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",1735257,"
929506,DB,24-MAY-16 00:00:00,3045317,65B,65B_66,2,44921,41400,44433.0,41418.0,BasDef,NaN,NaN,NaN,13-JUN-16 09:41:18,",2341266,"

In [4]:
# See how many rows and columns are in it
trips16.shape

(929507, 16)

In [5]:
trips16.dtypes

datasource          object
dayofservice        object
tripid               int64
lineid              object
routeid             object
direction            int64
plannedtime_arr      int64
plannedtime_dep      int64
actualtime_arr     float64
actualtime_dep     float64
basin               object
tenderlot          float64
suppressed         float64
justificationid    float64
lastupdate          object
note                object
dtype: object

In [6]:
#Missing data all features
trips16.isnull().sum()

datasource              0
dayofservice            0
tripid                  0
lineid                  0
routeid                 0
direction               0
plannedtime_arr         0
plannedtime_dep         0
actualtime_arr      75527
actualtime_dep      87804
basin                   0
tenderlot          929507
suppressed         927797
justificationid    927798
lastupdate              0
note                    0
dtype: int64

In [7]:
trips16.describe().T

,count,mean,std,min,25%,50%,75%,max
tripid,929507.0,3.004382e+06,141708.913412,2777084.0,2888369.0,3011742.0,3039788.0,3293472.0
direction,929507.0,1.504126e+00,0.499983,1.0,1.0,2.0,2.0,2.0
plannedtime_arr,929507.0,5.527825e+04,17354.882735,18539.0,39931.0,55560.0,69179.0,91920.0
plannedtime_dep,929507.0,5.163129e+04,17521.013791,16200.0,36120.0,51600.0,65400.0,88200.0
actualtime_arr,853980.0,5.500930e+04,17283.672078,17576.0,39663.0,55208.0,68918.0,92142.0
actualtime_dep,841703.0,5.183067e+04,17509.413476,16090.0,36603.0,51712.0,65673.0,97198.0
tenderlot,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
suppressed,1710.0,8.239766e-01,0.380951,0.0,1.0,1.0,1.0,1.0
justificationid,1709.0,2.205045e+04,4981.588208,555.0,19140.0,19240.0,21538.0,31632.0

In [8]:
# check for duplicate rows
print('Duplicate rows:', trips16.duplicated()[trips16.duplicated() == True].shape[0])
# Check for duplicate columns
print('Duplicate columns:',trips16.columns.size - trips16.columns.unique().size)

Duplicate rows: 0
Duplicate columns: 0

In [9]:
# Check for irregular cardinality. 
print("Unique values for:\n- datasource:", pd.unique(trips16.datasource.ravel()))
#print("\n- dayofservice:", sorted(pd.unique(trips16.dayofservice.ravel())))
print()
#print("\n- tripid:", sorted(pd.unique(trips16.tripid.ravel())))
print()
print("\n- lineid:", sorted(pd.unique(trips16.lineid.ravel())))
print()
print("\n- routeid:", sorted(pd.unique(trips16.routeid.ravel())))
print()
print("\n- direction:", sorted(pd.unique(trips16.direction.ravel())))
print()
#print("\n- plannedtime_arr:", sorted(pd.unique(trips16.plannedtime_arr.ravel())))
print()
#print("\n- plannedtime_dep:", sorted(pd.unique(trips16.plannedtime_dep.ravel())))
print()
#print("\n- actualtime_arr:", sorted(pd.unique(trips16.actualtime_arr.ravel())))
print()
print()
#print("\n- actualtime_dep:", sorted(pd.unique(trips16.actualtime_dep.ravel())))
print("\n- basin:", sorted(pd.unique(trips16.basin.ravel())))
print()
print("\n- tenderlot:", sorted(pd.unique(trips16.tenderlot.ravel())))
print()
print("\n- suppressed:", sorted(pd.unique(trips16.suppressed.ravel())))
print()
print("\n- justificationid:", sorted(pd.unique(trips16.justificationid.ravel())))
print()
#print("\n- lastupdate:", sorted(pd.unique(trips16.lastupdate.ravel())))

Unique values for:
- datasource: ['DB']



- lineid: ['1', '102', '104', '11', '111', '114', '116', '118', '120', '122', '123', '13', '130', '14', '140', '142', '145', '14C', '15', '150', '151', '15A', '15B', '16', '161', '16C', '17', '17A', '18', '184', '185', '220', '236', '238', '239', '25', '25A', '25B', '25D', '25X', '26', '27', '270', '27A', '27B', '27X', '29A', '31', '31A', '31B', '32', '32X', '33', '33A', '33B', '33X', '37', '38', '38A', '38B', '38D', '39', '39A', '4', '40', '40B', '40D', '41', '41A', '41B', '41C', '41X', '42', '43', '44', '44B', '45A', '46A', '46E', '47', '49', '51D', '51X', '53', '54A', '56A', '59', '61', '63', '65', '65B', '66', '66A', '66B', '66X', '67', '67X', '68', '68A', '69', '69X', '7', '70', '75', '757', '76', '76A', '77A', '77X', '79', '79A', '7B', '7D', '8', '83', '83A', '84', '84A', '84X', '9']


- routeid: ['102_10', '102_8', '102_9', '104_15', '104_16', '111_3', '111_4', '114_5', '114_6', '116_1', '116_3', '118_3', '11_40', '11_41', '11_42', '11_43', '120_10', '120_7', '120_8', '120_9', '122_14', '122_15', '122_16', '122_17', '123_34', '123_35', '123_36', '123_37', '130_10', '130_11', '13_28', '13_60', '13_61', '13_62', '13_63', '13_64', '13_65', '13_66', '13_67', '13_68', '13_69', '13_70', '13_71', '13_72', '13_73', '13_74', '13_75', '13_76', '140_16', '140_19', '140_20', '140_21', '140_22', '142_10', '142_12', '142_8', '142_9', '145_102', '145_104', '145_105', '145_106', '145_107', '145_86', '145_87', '145_88', '145_89', '145_91', '145_93', '145_94', '145_95', '145_99', '14C_17', '14C_18', '14_12', '14_15', '14_16', '150_5', '150_6', '150_7', '151_15', '151_16', '151_17', '151_18', '151_19', '15A_80', '15A_81', '15A_82', '15B_55', '15B_56', '15B_57', '15B_58', '15B_59', '15_10', '15_16', '15_17', '15_18', '161_50', '161_51', '161_52', '16C_26', '16C_27', '16C_28', '16C_29', '16_20', '16_21', '16_22', '16_23', '16_24', '17A_11', '17A_12', '17A_13', '17A_14', '17A_15', '17A_16', '17A_17', '17A_18', '17_10', '17_11', '17_12', '17_13', '17_14', '17_15', '17_16', '17_17', '17_18', '17_19', '184_28', '184_29', '185_50', '185_51', '185_52', '185_53', '185_54', '185_55', '185_56', '185_57', '185_58', '185_59', '185_60', '185_61', '185_62', '185_63', '18_3', '18_4', '18_5', '1_37', '1_38', '1_39', '1_40', '1_41', '220_10', '220_12', '220_14', '220_15', '236_10', '236_9', '238_11', '238_12', '238_15', '239_26', '239_28', '25A_270', '25A_273', '25B_271', '25B_274', '25D_275', '25X_5', '25X_7', '25X_9', '25_269', '25_272', '26_24', '26_26', '270_42', '270_44', '27A_4', '27A_5', '27A_6', '27B_23', '27B_24', '27B_25', '27B_26', '27B_27', '27B_34', '27B_35', '27B_36', '27B_37', '27B_38', '27B_39', '27B_40', '27X_42', '27X_43', '27_12', '27_17', '27_18', '27_19', '27_20', '27_9', '29A_14', '29A_15', '31A_25', '31A_26', '31B_44', '31B_45', '31B_46', '31_15', '31_16', '31_17', '31_18', '32X_74', '32X_75', '32_57', '32_58', '33A_22', '33A_23', '33A_25', '33A_26', '33A_27', '33B_56', '33B_57', '33B_58', '33B_59', '33B_60', '33X_46', '33X_47', '33X_48', '33_16', '33_17', '33_18', '33_40', '33_41', '33_42', '33_43', '37_13', '37_14', '37_15', '38A_20', '38A_23', '38A_32', '38A_33', '38B_40', '38B_44', '38D_61', '38D_68', '38_10', '38_13', '38_14', '38_15', '38_9', '39A_40', '39A_41', '39A_42', '39A_43', '39_20', '39_21', '39_22', '39_23', '40B_63', '40B_64', '40B_65', '40D_101', '40D_102', '40D_103', '40D_104', '40D_105', '40D_106', '40_17', '40_18', '40_19', '40_20', '40_24', '40_25', '40_26', '41A_22', '41B_51', '41B_52', '41B_53', '41C_78', '41C_79', '41C_80', '41X_108', '41X_109', '41X_110', '41X_115', '41X_116', '41_10', '41_20', '41_21', '41_3', '41_4', '41_5', '41_6', '41_7', '41_8', '41_9', '42_42', '42_44', '43_84', '43_85', '43_88', '43_89', '44B_60', '44B_61', '44_30', '44_31', '44_33', '44_35', '44_36', '44_37', '45A_60', '45A_64', '45A_67', '45A_68', '45A_69', '45A_70', '46A_62', '46A_63', '46A_64', '46A_65', '46A_66', '46A_67', '46A_68', '46A_69', '46A_70', '46A_72', '46A_73', '46A_74', '46A_77', '46E_93', '47_135', '47_136', '47_137', '47_138', '47_139', '49_27', '49_28', '49_29', '4_10', '4_11', '4_12', '4_13', '51D_47', '51D_50', '51X_63', '53_17', '53_19', '54A_11', '54A_12', '56A_30', '56A_31', '59_8', '59_9', '61_106', '61_107', '61_108', '61_109', '63_18', '63_19', '63_20', '63_21', '63_22', '63_23', '63_24', '65B_65', '65B_66', '65_72', '65_73', '65_74', '65_75', '65_76', '65_77', '66A_34', '66A_36', '66B_55', '66B_57', '66X_100', '66X_101', '66X_92', '66X_93', '66X_94', '66X_95', '66X_96', '66X_97', '66X_99', '66_11', '66_13', '66_14', '66_16', '67X_38', '67X_39', '67X_40', '67X_41', '67X_42', '67_4', '67_6', '68A_75', '68A_76', '68_66', '68_67', '68_68', '68_69', '68_70', '68_71', '68_72', '68_73', '68_74', '69X_57', '69X_58', '69_30', '69_41', '69_42', '70_60', '70_67', '70_69', '757_1', '757_2', '75_13', '75_14', '75_15', '75_16', '75_7', '75_8', '76A_28', '76A_29', '76_36', '76_37', '77A_28', '77A_29', '77X_61', '79A_27', '79A_28', '79_10', '79_11', '7B_91', '7B_92', '7D_112', '7D_115', '7D_116', '7_51', '7_52', '7_53', '7_54', '7_60', '7_61', '7_62', '7_63', '83A_17', '83A_20', '83A_23', '83A_26', '83_16', '83_18', '83_19', '83_21', '83_22', '83_24', '83_25', '83_27', '84A_1', '84A_2', '84A_3', '84A_4', '84X_52', '84X_53', '84X_56', '84X_57', '84X_58', '84X_59', '84_27', '84_28', '84_29', '84_30', '84_31', '84_32', '8_126', '8_128', '8_129', '9_5', '9_6', '9_7', '9_8']


- direction: [1, 2]






- basin: ['BasDef']


- tenderlot: [nan]


- suppressed: [nan, 0.0, 1.0]


- justificationid: [nan, 555.0, 17882.0, 17883.0, 17884.0, 17885.0, 17886.0, 17892.0, 17893.0, 17895.0, 17896.0, 17898.0, 17899.0, 17900.0, 19050.0, 19051.0, 19052.0, 19053.0, 19055.0, 19056.0, 19061.0, 19062.0, 19064.0, 19067.0, 19069.0, 19073.0, 19074.0, 19084.0, 19087.0, 19091.0, 19092.0, 19093.0, 19094.0, 19096.0, 19097.0, 19098.0, 19101.0, 19102.0, 19103.0, 19106.0, 19115.0, 19118.0, 19129.0, 19131.0, 19132.0, 19134.0, 19138.0, 19140.0, 19141.0, 19143.0, 19144.0, 19145.0, 19147.0, 19148.0, 19149.0, 19150.0, 19151.0, 19152.0, 19153.0, 19154.0, 19155.0, 19156.0, 19157.0, 19158.0, 19159.0, 19160.0, 19161.0, 19162.0, 19163.0, 19164.0, 19165.0, 19166.0, 19168.0, 19170.0, 19171.0, 19172.0, 19179.0, 19182.0, 19205.0, 19206.0, 19207.0, 19208.0, 19210.0, 19212.0, 19214.0, 19215.0, 19218.0, 19219.0, 19222.0, 19224.0, 19227.0, 19229.0, 19231.0, 19232.0, 19233.0, 19234.0, 19236.0, 19238.0, 19239.0, 19240.0, 19242.0, 19243.0, 19244.0, 19246.0, 19247.0, 19248.0, 19251.0, 19255.0, 19256.0, 19257.0, 19258.0, 19259.0, 19260.0, 19261.0, 19263.0, 19264.0, 19265.0, 19266.0, 19268.0, 19270.0, 19272.0, 19274.0, 21507.0, 21508.0, 21509.0, 21511.0, 21516.0, 21520.0, 21524.0, 21535.0, 21537.0, 21538.0, 21539.0, 21540.0, 21543.0, 31592.0, 31593.0, 31595.0, 31596.0, 31597.0, 31598.0, 31599.0, 31600.0, 31601.0, 31602.0, 31603.0, 31604.0, 31605.0, 31606.0, 31607.0, 31608.0, 31609.0, 31610.0, 31611.0, 31612.0, 31613.0, 31614.0, 31615.0, 31616.0, 31617.0, 31618.0, 31619.0, 31620.0, 31621.0, 31622.0, 31623.0, 31624.0, 31625.0, 31626.0, 31627.0, 31628.0, 31629.0, 31631.0, 31632.0]

In [10]:
# Return the cardinality of the set of unique values, i.e., number of distinct values for feature x
len(trips16['dayofservice'].unique())

153

In [11]:
len(trips16['lineid'].unique())

120

In [12]:
len(trips16['tripid'].unique())

194348

In [13]:
len(trips16['routeid'].unique())

481

In [14]:
len(trips16['plannedtime_arr'].unique())

51685

In [15]:
len(trips16['plannedtime_dep'].unique())

768

In [16]:
len(trips16['actualtime_arr'].unique())

66332

In [17]:
len(trips16['actualtime_dep'].unique())

64626

In [18]:
len(trips16['tenderlot'].unique())

1

In [19]:
len(trips16['suppressed'].unique())

3

In [20]:
len(trips16['justificationid'].unique())

174

In [21]:
len(trips16['lastupdate'].unique())

153

'Suppressed' is the feature that might be most relevant in data cleaning. Of the 929507 rows in the entire dataframe, 927797 are NaN for suppressed. With just 1710 having actual values (1.0 or 0.0). The frequency tables below show that there are 1409 rows with 1.0 and 301 with 0.0. (frequency tables don't seem to record NaN values).

Here is what is said in the NTA pdf about the feature 'suppressed':
"If the trip is planned and achieved, the record will contain both the planned and actual data. If the
tripped is planned and suppressed the record will contain only the planned data and the flag
“Suppressed” will be checked.
If the trips is partially suppressed the flag “Suppressed” will not be checked. The set of the leave
times suppressed is detailed in table RT_LeaveTimes"

It also says, in explaining suppressed: "The whole trip has been suppressed (0 =achieved, 1 = suppressed)"

So rows with the value 1 for suppressed must be dropped - if they only have data for planned times, not actual times, then they will be of no use in training the model. So this will be dropped when the trips2016 csv is created.

In [22]:
# Get frequency of different levels for value 'suppressed'
frequency = pd.crosstab(index=trips16['suppressed'],  
                              columns="count")      
frequency

col_0       count
suppressed
0.0           301
1.0          1409

In [23]:
# Get proportion of levels for value 'suppressed'
frequency2 = pd.crosstab(index=trips16['suppressed'],  
                              columns="proportion %")
frequency2/frequency2.sum()*100

col_0       proportion %
suppressed
0.0            17.602339
1.0            82.397661

In [24]:
# Get frequency of different levels for value 'justificationid'
#frequency = pd.crosstab(index=trips16['justificationid'],  
                              #columns="count")      
#frequency

CONCLUSIONS:
- There are NO duplicate rows or columns in whole of trips 2016 txt file
- datasource column can be dropped as it just has a single value, DB.
- Basin can be dropped (it just has a single value, BasDef, which is of no relevance to our model).
- For the Tenderlot feature, all entries are NaN. So we will drop it.
- although there are some entries in 'justificationid', as the feature records 'fault codes' to do with why a journey was suppressed - this is not relevant to developing our model, so we will be dropping this column. 
- 'note' is not relevant to our model either, so will be dropped 
- 'lastupdate' is not relevant to our model either, as it does not relate to what day a journey took place, only when the data was updated. So we will drop this column completely also.
- We will also be dropping all rows in the suppressed column where suppressed=1